TOKEN_A=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbWp1eGhkb2QwMDAwa3IyZWFmMzR2MzFjIiwiaWF0IjoxNzY3MjQwNjk3fQ.B5u9s1u2WzuVffHxi3h4vZb2qKJoBKaK2g6wdlLe8xw
TOKEN_B=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbWp2bDBoeTMwMDAwc2t1cGIyaDVucnM4IiwiaWF0IjoxNzY3MjgwMjIxfQ.Gp0Le5ZtO4-bGUksJN-42R0kR9qvhOlZZoAEB0T6Vck

WORKSPACE_ID=cmjvljrjn0002skupk1tzx5kq

TEXT_CHANNEL_ID=cmjvljrju0003skup2bqpp33p
VOICE_CHANNEL_ID=cmjvljrju0004skupfr7crj68

WS_URL=ws://localhost:3000/ws
USE_JOIN_REQUEST=0